body {
  background-color: #564256;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #E8E8E8;
}

#add,
#subtract,
#multiply,
#divide {
  background-color: #FC814A;
}

#add:hover,
#subtract:hover,
#multiply:hover,
#divide:hover {
  background-color: #fd9868;
}

#clear,
#allclear {
  background-color: #FC814A;
}

#clear:hover,
#allclear:hover {
  background-color: #fd9868;
}

#equal {
  background-color: #FC814A;
}

#equal:hover{
  background-color: #fd9868;
}

#equal:active,
#add:active,
#subtract:active,
#multiply:active,
#divide:active 
#clear:active,
#allclear:active,
.parent>div:active{
  animation: glow-bounce 0.3s ease-out;
  
}

@keyframes glow-bounce {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    transform: scale(1.02);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    transform: scale(1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title{
  color: #96939B;
  font-size: 16px;
  padding-right: 265px;
  padding-bottom: 15px;
}

.display {
  width: 300px;
  height: 100px;
  border-radius: 5px;
  background-color: #96939B;
  margin-bottom: 10px;
  font-size: 36px;
}

#displayText {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
}


@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}



.blink {
  animation: blink-animation 0.5s linear infinite;
}

@keyframes blink-animation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}



.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  height: 350px;
  width: 300px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

.div9 {
  grid-area: 3 / 3 / 4 / 4;
}

.div10 {
  grid-area: 4 / 1 / 5 / 3;
}

.div11 {
  grid-area: 4 / 3 / 5 / 4;
}

.div12 {
  grid-area: 1 / 4 / 2 / 5;
}

.div13 {
  grid-area: 2 / 4 / 3 / 5;
}

.div14 {
  grid-area: 3 / 4 / 4 / 5;
}

.div15 {
  grid-area: 4 / 4 / 5 / 5;
}

.div16 {
  grid-area: 5 / 1 / 6 / 2;
}

.div17 {
  grid-area: 5 / 2 / 6 / 3;
}

.div18 {
  grid-area: 5 / 3 / 6 / 5;
}

.parent>div {
  background-color: #96939B;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}

.parent>div:hover {
  background-color: #BFBFBF;
}

.Footer{
  color: #96939B;
  font-size: 12px;
  color: #FC814A;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}